@import "../config/globals";


.main-Body {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 20px;
}

.main-Body:before,
.main-Body:after {
  content: '';
  position: absolute;
  top: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.main-Body:before {
  height: 10px;
  left: 4px;
  right: 4px;
}

.main-Body:after {
  height: 5px;
  left: 2px;
  right: 2px;
}


body {
  background-color: #f5f5f5;
}
