@import "../../config/globals";

.add-And-Select {
  margin: 0;
  padding: 0;
}

.add-And-Select:before,
.add-And-Select:after {
  content: '';
  display: table;
}

.add-And-Select:after {
  clear: both;
}

.select-All {
  width: 64px;
  height: 64px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  float: left;
  cursor: pointer;
  position: relative;
}

.select-All:hover,
.select-All:focus {
  background: #f9f9f9;
  border: none;
}

.select-All-icon {
  width: 24px;
  height: 12px;
  background: url("../../../images/icons/select-all.png") no-repeat 0 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px -12px;
}

.adder {
  overflow: hidden;
  height: 64px;
}

.todo-add_input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background: none;
  color: #666;
  display: inline-block;
  line-height: 24px;
  padding: 0;
  padding-right: 12px;
  margin-top: 16px;
  outline: none;
  font-size: 24px;
  height: 30px;
}

.todo-add_input::placeholder {
  color: #ccc;
  font-style: italic;
  font-size: 24px;
}