@import "../../config/globals";


.todo-item{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}

.todo-item:hover {
    background: #fafafa;
}


.todo-item_text-w {
  overflow: hidden;
  height: 64px;
}

.todo-item_text {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: none;
  font-size: 24px;
  color: #666;
  line-height: 30px;
  font-weight: 200;
  padding-right: 12px;
  margin-top: 18px;
  outline: none;
  resize: none;
  border: none;
  margin-bottom: 0;
}

.__ready > .todo-item_text-w > .todo-item_text {
  text-decoration: line-through;
}

.todo-item_ready-checker {
  float: left;
}



.todo-item_remove-action, .action-remove {
  width: 64px;
  height: 64px;
  background: none;
  border: none;
  padding: 0;
  float: right;
  position: relative;
  opacity: 1;
}


    .todo-item:hover .todos-item_delete_icon {
      width: 24px;
      height: 24px;
      background: url("../../../images/icons/close.png") no-repeat 0 0;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -6px -12px;
      opacity: 300;
    }








.input-checkbox{
  width: 40px;
  height: 40px;

  background: none;

  padding: 0;
  margin: 12px;

  border-radius: 4em;

  position: relative;

  border: 2px solid $border-color;
  opacity: 1;
}


.__ready > .input-checkbox {
  border: 2px solid #67c5b3;
  opacity: 1;
  width: 40px;
  height: 40px;

  background: none;

  padding: 0;
  margin: 12px;

  border-radius: 4em;

  position: relative;
}
//
//.todos-item_done-mark,
//.todos-item_undone-mark{
//
//  position: absolute;
//  left: 25%;
//  top: 25%;
//  transform: scale(4);
//  opacity: -10;
//  background: none;
//  border: none;
//
//  cursor: pointer;
//
//}

.todos-item_undone-mark-w{
  position: absolute;
  width: 50px;
  height: 50px;

  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  opacity: 0;

}

.__ready > .input-checkbox > .todos-item_undone-mark-w{
  position: absolute;
  width: 50px;
  height: 50px;

  left: 50%;
  top: 50%;

  margin-left: -20px;
  margin-top: -20px;
  opacity: 0;
}

.todos-item_undone-mark-icon{
  position: absolute;
  width: 25px;
  height: 25px;

  left: 50%;
  top: 50%;

  margin-left: -10px;
  margin-top: -10px;
  opacity: 300;
}

.__ready > .todos-item_undone-mark-icon{
  position: absolute;
  width: 25px;
  height: 25px;

  background: url('../../../images/icons/completed.png') no-repeat 0 0;
  left: 50%;
  top: 50%;

  margin-left: -10px;
  margin-top: -10px;
  opacity: 300;
}



//
//.todo-item {
//  margin: 0;
//  padding: 0;
//  border-bottom: 1px solid #efefef;
//  border-top: 1px solid #efefef;
//}
//
//.todo-item:before,
//.todo-item:after {
//  content: '';
//  display: table;
//}
//
//.todo-item:after {
//  clear: both;
//}
//
//.todo-item:hover {
//  background: #fafafa;
//}



//
//
//
//.todos-item_done-mark-w,
//.todos-item_undone-mark-w {
//  width: 40px;
//  height: 40px;
//  background: none;
//  border: none;
//  padding: 0;
//  margin: 12px;
//  border-radius: 4em;
//  position: relative;
//  opacity: 1;
//}
//
//.todos-item_done-mark-w {
//  border: 2px solid #67c5b3;
//  opacity: 1;
//}
//
//.todos-item_undone-mark-w {
//  border: 2px solid #efefef;
//  opacity: 1;
//}
//
//.todos-item_done-mark,
//.todos-item_undone-mark {
//  position: absolute;
//  left: 25%;
//  top: 25%;
//  transform: scale(4);
//  opacity: 0;
//  background: none;
//  border: none;
//  cursor: pointer;
//}
//
//.todos-item_undone-mark-icon {
//  position: absolute;
//  width: 24px;
//  height: 24px;
//  left: 50%;
//  top: 50%;
//  margin-left: -10px;
//  margin-top: -10px;
//  opacity: 300;
//}
//
//.todos-item_done-mark-icon {
//  position: absolute;
//  width: 24px;
//  height: 24px;
//  background: url("../../../images/icons/completed.png") no-repeat 0 0;
//  left: 50%;
//  top: 50%;
//  margin-left: -10px;
//  margin-top: -10px;
//  opacity: 300;
//}