@import "../../config/globals";

.todo-item{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
}

.todo-item:hover {
    background: $c-white-dark;
}

.todo-item_text-w {
  overflow: hidden;
  height: 64px;
}

.todo-item_text {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: none;
  font-size: $fs_large;
  color: $c-black-light;
  line-height: 30px;
  font-weight: 200;
  padding-right: 12px;
  margin-top: 18px;
  outline: none;
  resize: none;
  border: none;
  margin-bottom: 0;
}

.__ready > .todo-item_text-w > .todo-item_text {
  text-decoration: line-through;
}

.todo-item_ready-checker {
  float: left;
}

.todo-item_remove-action, .action-remove {
  width: 64px;
  height: 64px;
  background: none;
  border: none;
  padding: 0;
  float: right;
  position: relative;
  opacity: 1;
}

    .todo-item:hover .action-remove {
      width: 64px;
      height: 64px;
      background: $pic-close no-repeat center;
      opacity: 300;
    }

.input-checkbox{
  width: 35px;
  height: 35px;

  background: none;

  padding: 0;
  margin: 12px;

  border-radius: 4em;

  position: relative;
float: left;
  border: 2px solid $border-color;
  opacity: 1;
}

.todo-item.__ready .input-checkbox {
  border: 2px solid #67c5b3;
  background: $pic-completed no-repeat center;
}

.todos-item_undone-mark-w{
  position: absolute;
  width: 50px;
  height: 50px;

  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  opacity: 0;
}

.todo-item.__hide {
  display: none;
}