@import "../../config/globals";

.todo-Bottom-clear-Done {
  height: 24px;
  margin: 12px;
}

.todo-Bottom-clear-Done-button {
  display: inline;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  color: #d6d6d6;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  background: none;
  outline: none;
}

.todo-Bottom-clear-Done-button:hover,
.todo-Bottom-clear-Done-button:focus {
  border: 2px solid #efefef;
  border-radius: 2px;
}

