$color-title: rgba(175, 47, 47, .15);
$color-title1: rgba(55, 49, 49, .16);
$color-title2: rgba(175, 52, 777, .17);

$color-border: rgba(230, 230, 230, .2);

$color-border-checkbox: #5dc2af;
$c-white: #fff;
$c-white-light: #f9f9f9;
$c-white-dark: #fafafa;
$white-background: #f5f5f4;  /* мухахаха */
$c-gray-light-light: #cccccc;
$c-gray: #888888;
$color-focus:#ebdfdf;
$c-black-light: #666;
$c-gray-dark: #d6d6d6;
$c-gray-light: #ddd;
$c-light: #999;
$c-orange: #eb722e;
$c-error: #ff5756;
$border-color: #efefef;
$green: #bbffbb;

$c-shadow: rgba(0, 0, 0, 0.2);