$h_panel-top: 48px;

$button_side: 64px;
$button_side_main: 12px;
$button_side_main_x1_5: 18px;
$button_side_main_x2: $button_side_main*2;
$button_side_main_x3: $button_side_main*3;

$margin_normal: 14px;

$w-ok-messenger_side: 330px;

$w-ok-message-padding: 40px;

$chat-bottom: 48px;


