$offset: 4px;
$offset_half: $offset / 2;
$offset_2x: $offset * 2;
$offset_3x: $offset * 3;
$offset_4x: $offset * 4;
$offset_5x: $offset * 5;
$offset_6x: $offset * 6;
$offset_7x: $offset * 7;
$offset_8x: $offset * 8;
$offset_9x: $offset * 9;
$offset_10x: $offset * 10;
$offset_high: 5px;
$offset_high_2x: $offset_high*2;
$offset_high_3x: $offset_high*3;
$offset_high_4x: $offset_high*4;
$offset_low: 3px;
$offset_low_2x: $offset_low*2;
$offset_low_3x: $offset_low*3;
$offset_low_4x: $offset_low*4;
$offset_action-bar_counter: 98px;
